html, body {
    margin: 0;
  }

.header {
    display: flex;
    background-color: aliceblue;
    border: gray solid 3px;
    height: 200px;
}

.footer {
    display: flex;
    background-color: gray;
    position: fixed;
    bottom: 0;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.me{
    display: flex;
    margin-left: 20px;

}

.gomb, .credit{
    display: flex;
    margin-right: 40px;
}

.credit{
    font-weight: bolder;
}
